* {
    color: white;
}

body {
    background-image: url(./assets/background.png);
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.outer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inner-div {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
}

#logo-image-id {
    margin-left: 10px;
}

.wrapper-main {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-left: 30px;
}

.main-content {
    width: 50%;
    height: 400px;
    padding-right: 40px;
    padding-left: 100px;
}

#first-heading {
    margin: 0;
    padding: 0;
    font-size: 80px;
    font-style: italic;
    font-family: serif;
    font-weight: lighter;
}

#second-heading {
    margin: 0;
    padding: 0;
    font-size: 120px;
    font-family: serif;
    font-weight:bolder;
}

p {
    width: 70%;
    font-size: 25px;
    margin: 0;
    font-family: monospace;
    font-weight: lighter;
    color: rgb(50, 234, 157);
    line-height: 30px;
}

button {
    margin-top: 20px;
    width: 225px;
    height: 40px;
    color: black;
    border-radius: 18px;
    background-color: rgb(50, 234, 157);
    font-size: 20px;
    font-weight: bolder;
}

button:hover {
    cursor: pointer;
    background-color: rgb(9, 127, 82);
  
}

#logo {
    width: 500px;
    margin-right: 65px;
    margin-bottom: 20px;

}

a {
    text-decoration: none;
}